/* .custom-checkbox {
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

p{
  font-size: 14px;
  color: white;
  margin-right: 10px;
}

.TermsAndConditions{
  text-decoration: none !important;
} */