
.img-container{
    justify-content: center !important;
      display: grid;
    align-items: center !important;
    width: 100% !important;
    height: auto !important;
}

.img-container img{
    width: 100%;
    height: auto;
}

body.login-page {
  background-color: black;
  background-size: cover;
  background-position: center;
}