/* .login-footer {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    width: 236px;
    margin: 20px auto 0;
}

.alert-text{
    margin: 0;
    font-size: 14px;
    color: #A7A9AA;
    text-align: right;
}

.exclamation-mark{
    margin-top: 5px;
    margin-left: 5px;
} */