body.pages-page {
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.carName {
  font-size: 18px !important;
  font-weight: 600;
}

.my-docs {
  font-size: 20px !important;
  color: #fff;
}

.Border {
  height: 30px !important;
  width: 30px !important;
  position: absolute !important;
  object-fit: contain;
}

.Separator {
  color: #919495 !important;
  margin: 0 8px !important;
}

.NumOfFiles {
  font-size: 14px;
  color: #d1d1d1;
}

.MB {
  font-size: 12px;
  color: #d1d1d1;
  margin-top: 8px !important;
}

@media (min-width: 768px) {
  .carName {
    font-size: 20px !important;
  }

  .my-docs {
    font-size: 22px !important;
  }

  .Border {
    height: 36px !important;
    width: 36px !important;
  }

  .NumOfFiles {
    font-size: 15px;
  }

  .MB {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .carName {
    font-size: 16px !important;
  }

  .my-docs {
    font-size: 16px !important;
  }

  .Border {
    height: 24px !important;
    width: 24px !important;
  }

  .NumOfFiles {
    font-size: 12px;
  }

  .MB {
    font-size: 11px;
  }
}
