/* body.pages-page {
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.carName{
    font-size: 18px !important;
}

.my-docs{
    font-size: 20px !important;
}

.Border{
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
}

.Separator{
    color: #919495 !important;
}

.title{
    font-size: 18px !important;
}

.update{
    color: #B4B4C3 !important;
    font-size: 16px !important;
}

.file{
    height: 30px !important;
    width: 22px !important;
}

.menuDiv{
    margin-right: 95%;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 220px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 15px auto 0;
    background-color: #FF5800;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
} */