.my-docs{
    font-size: 20px !important;
}

.Separator{
    color: #919495 !important;
}

body.pages-page {
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}